node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
package.tgz
yarn-error.log
build.log
.bazel/bazel-bazel
.bazel/bazel-bin
.bazel/bazel-out
.bazel/bazel-testlogs
.bazel/cache
.bazel/gcp.json
*.bak